.narrative {
  max-width: 40rem;
}

.cursor-pointer {
  cursor: pointer;
}

.no-overflow {
  white-space: nowrap; /* Prevents line wrapping */
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Adds ellipsis for overflow */
  max-width: 30rem;
}
